html, body {
	height: 100%;
}

body {
	background-image: url("images/bamboo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	font-family: sans-serif;
}

/*div {
	font-family: sans-serif;
}*/

header {
	background:  rgba(100, 100, 125, 0.7);
	margin: 0;
	padding-top: 10px;
}

h1 {
	font-family: serif;
	font-style: italic;
	font-size: 128px;
	font-weight: lighter;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

button {
	font-size: 18px;
	height: 75px;
	width: 184px;
}

button,
.button:hover, 
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
.button:focus, button:focus, 
input[type="submit"]:focus, 
input[type="reset"]:focus, 
input[type="button"]:focus {
	background: rgba(100, 100, 125, 0.7);
	border: 2px solid white;
	color: white;
}

/*#main-container {
	height: 90vh;
}*/

#drumpad-container {
	text-align: center;
	width: 50%;
	margin: 0 auto;
/*	position: relative;
	top: 20%;
	transform: translateY(-50%);*/
}

#controls-container {
	text-align: center;
	width: 40%;
	margin: 0 auto;
/*	position: relative;
	top: 20%;
	transform: translateY(-50%);*/	
}

.link {
	text-align: center;
	padding-top: 45px;
	font-size: 28px;
}

@media only screen and (max-width: 980px) {
	.drumpad {
		display: inline-block;
		margin: 2px 0;
		padding: 70px 30px 0 30px;
		width: 150px;
		height: 150px;
		font-size: 36px;
		color: white;
		background: rgba(0, 255, 255, 0.5);
		border: 2px solid white;
	}

	button {
		font-size: 24px;
		height: 150px;
		width: 350px;
	}
}

@media only screen and (min-width: 981px) {
	.drumpad {
/*		display: inline-block; */
/*		margin: 2px 0;
		padding: 34px 48px;
		width: 30px;
		max-width: 30px;
		font-size: 36px;*/
		color: white;
		background: rgba(0, 255, 255, 0.5);
		/*border: 2px solid white;*/
	}
}

.playing {
	font-weight: bold;
	color: yellow;
	border: 4px solid yellow;
	width: 26px;
	margin: 0 0;
}


/* Maybe someday... */
@media only screen 
	and (orientation: landscape) 
	and (max-width: 980px) {
	* {
		visibility: hidden;
	}
}