* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-image: url("images/bamboo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	font-family: sans-serif;
}

header {
	background:  rgba(100, 100, 125, 0.7);
	margin: 0;
	padding-top: 10px;
	margin-bottom: 50px;
}

h1 {
	font-family: serif;
	font-style: italic;
	font-size: 128px;
	font-weight: lighter;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

button {
	font-size: 18px;
	height: 75px;
	width: 184px;
}

button,
.button:hover, 
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
.button:focus, button:focus, 
input[type="submit"]:focus, 
input[type="reset"]:focus, 
input[type="button"]:focus {
	background: rgba(100, 100, 125, 0.7);
	border: 2px solid white;
	color: white;
}

#drumpad-container {
	width: 30vw;
	margin-bottom: 20px;
}

#controls-container {
	width: 40vw;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.link {
	padding-top: 45px;
	font-size: 28px;
}

.drumpad {
	color: white;
	background: rgba(0, 255, 255, 0.5);
	margin: 2px;
	font-size: 36px;
	height: 10vw;
	width: 10vw;
	line-height: 10vw;
	border: 2px solid white;
}

.playing {
	font-weight: bold;
	color: yellow;
	border: 4px solid yellow;
	width: 26px;
}